
<!-- double brackets server side code title as a variable created in controllers->index->title-->
<!-- handle bars, mustache-->
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>We are building this site with Node, Express, and MongoDB for COMP2028 in Fall 2021 at Georgian College.</p>